.SectionWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.sectionBadge {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-lightblue);
    box-shadow: var(--shadow-only);
    border-radius: 0px 0px 30px 0px;
    width: fit-content;
    padding: 10px;
}

@media (min-width: 640px) {
   
    .sectionBadge {
        display: none;
    }
}