.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover{
  background-image: var(--convex-surface);
}
.buttonInner {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  box-shadow: var(--smooth-corner);
}
.buttonInner svg {
  filter: url('#filter0_i_190_4');
}
.floating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-only);
  background: var(--convex-surface-lime100);  
}
/*.protruding svg{
  background: linear-gradient(135deg, #FF993F 0%, #EE8B39 100%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
/*.protruding::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--convex-surface-lime200);
}*/

/*
box-shadow: inset 2px 2px 4px rgba(255, 255, 223, 0.3), inset -2px -2px 4px rgba(212, 222, 183, 0.5);
    background: linear-gradient(135deg, rgba(248, 255, 213, 0.1) 0%, #E0EBC1 160%);
*/