.NavBar {
    width: 100%;
}
.desktopMenu {
    display: none;
}
.gridWrapper {
    width: 100%;
    height: auto;
    min-height: fit-content;
    display: grid; 
    grid-template-columns: auto auto;
    box-shadow: var(--shadow-only);
    border-radius: 20px;
    padding: 10px;
    z-index: 50;
    background-color: var(--background-lightblue);
}
.gridItem1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    gap: 10px;
    margin: 0px 0px;
    padding: 5px 0px;
}
.gridItem2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding: 10px 0px;
}
.gridItem3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    gap: 0px 0px;
    padding: 10px 10px;
}
@media (min-width: 640px) {
    .SectionsNav {
      position: relative;
      width: auto;
    }
    .gridWrapper {
      height: auto;
      box-shadow: var(--protruding-effect);
      grid-template-columns: 40% auto auto auto;
      grid-template-rows: auto auto;
    }
    .gridItem1 {
      grid-column: 2 / span 3;
      grid-row: 1 / span 1;
    }
    .gridItem2 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
    .gridItem3 {
      width: 100%;
      grid-column: 2 / span 3;
      grid-row: 2 / span 1;
      justify-content: center;
    }
}
@media (min-width: 768px) {
   .NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .desktopMenu {
    width: 24rem;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    box-shadow: var(--protruding-effect);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
   }
   .desktopMenu:hover{
    box-shadow: var(--shadow-only);
   }
}

@media (min-width: 1024px) {
    .SectionsNav {
      width: 30%;
    }
    .gridWrapper {
      height: 100%;
      grid-template-columns: auto auto;
      min-height: fit-content;
    }
    .gridItem1 {
      width: 100%;
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    .gridItem2 {
      width: 100%;
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    .gridItem3 {
      width: 100%;
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      flex-direction: column;
      align-items: center;
      gap: 0px 0px;
    }
}


  
  
  
/*
box-shadow: 15px 15px 38px rgba(177, 184, 152, 0.9);
*/